<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/externallogin.css">

  <title>OPEN CHAT</title>
</head>

<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1> OPEN Chat</h1>
      <button class="btn btn-danger" type="button" id="btnLogout" onclick="logout()">Leave Chat</button>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name"></h2>
       <!--<h3><i class="fas fa-users"></i> Users</h3>-->
        <ul id="users"></ul>
      </div>
      <div class="chat-messages" id="message-container">
        <div class="show-time text-center"></div>
        <div class="inner-one">
          <p id="msg-sen"></p>
        </div>
     
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input type="text" name="name" id="name" placeholder="Your Username *" required />
        <input id="message" name="message" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="btn" name="button" id="send" type="button" onclick="sendMessage()"><i
            class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    const roomDiv = document.getElementById('chat-sidebar');
    const chatForm = document.getElementById('chat-form');

    socket.on('message', message => {
      console.log(message);
    } )

    //Message submit
    chatForm.addEventListener('submit', (e) => {
      e.preventDefault();

      const msg = e.target.elements.message.value;

      socket.emit(msg);
    })

    var users = [];
    var roomname;

    socket.on('connectToRoom', function (room) {
      $('#room-name').append(`<p>${room}</p>`);
     // document.querySelector('#room-name').appendChild(div);
     // return $('#room-name'); 
    // document.body.innerHTML = '';
     //document.write(`<p>${room}</p>`);
    });

    socket.on('message', (welcomeMessage) => {
      $('chat-form').append(`<span class="fas fa-comments">${welcomeMessage}</span>`);
    } )

    function userLeave(id) {
      var index = users.findIndex(user => user.id === id);

      if(index !== -1){
        return users.splice(index, 1)[0];
      }
    }

    socket.on('chat', addChat);

    $(document).ready(function () {
      getChats();
    })

    $(() => {
      $('#send').click(() => {
        var chatMessage = {
          user: $('#name').val(),
          msg: $('#message').val()
        };
        outputMessage(chatMessage)
      })
    })

    function outputMessage(chat) {
      $.post('http://localhost:3000/chats', chat)
     // location.reload();
    }
    function getChats() {
      $.get('/chats', (chats) => {
        chats.forEach(addChat);
      })
    }

    function logout() {
      $('#btnLogout').click(() => {
        //localStorage.setItem('isLoggedIn', 'false');
        //localStorage.removeItem(user);

        window.location = "../index.html";

      })
    }

    function addChat(chatObj) {
      $('#msg-sen').append(`<p class="meta"><b>${chatObj.user}</b> :${chatObj.msg} <span class="date">${chatObj.created_at}</span> <p> \n <br><hr>  `);
      // $('#msg-sen').append(`<p class="meta">${chatObj.user}<span>${chatObj.created_at}</span> </p><p class="text" ${chatObj.msg} </p> `)
      }
  </script>
</body>

</html>